.darksage{
    background-color: #e0d9c7;
}
.sage{
    background-color: #efe3d7;
}
body{

    color: #AB8763;
}
#copyright a{
    color: #8a6d50;
}
nav div a{
    position: relative;
    text-decoration: none;
    color: #AB8763;
}
#email{
    letter-spacing: 4px;
}
#btn{
    margin-bottom: 100px;
}
#learn{
    background-color: #b26770; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.25s;
}
.navlink, #learn{
    letter-spacing: 4px;
    font-weight: 100;
}
.navlink:hover, #learn:hover{
    font-weight: bold;
}
.third-blank{
    height: 100%;
    width: 72%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    right: 0;
}
#mNavMenu.closed-menu{
    opacity: 0;
    top: -30px;
}
#mNavMenu:not(.closed-menu){
    top: 0;
}
#mNavMenu{
    position: fixed;
    transition: opacity .3s, top .2s;
}
#mNav{
    z-index: 1031;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #AB8763;
    border-bottom-right-radius: 10%;
}
.mNav-Logo{
    height: 145px;
    width: 145px;
    position: fixed;
    top: 0;
    right: 0;
}
#mNav img {
    top: 0;
    left: 0; 
}
#modal{
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#modal-content{
    margin: auto;
    text-align: center;
}
#modal-img{
    max-width: 100%;
    max-height: 100vh;
    display: inline-flex;
}

#faded-img:before{
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
}
#social-media a{
    transition: 0.25s;
}
@media screen and (min-width:2000px) {
    nav div a{
        font-size: 2rem;
    }
    #portfolio{
        font-size: 1.8rem;
    }
    .heading{
        font-size: 3rem;
    }
    .p1{
        font-size: 2.8rem;
    }
    .p2{
        font-size: 2rem;
    }
    #social-media img{
        width: 64px;
        height: 64px;
    }
    .logo{
        width: 290px;
        height: 290px;
    }
}
@media screen and (min-width:1150px) and (max-width:2000px){
    nav div a{
        font-size: 18px;
    }
    #portfolio{
        font-size: 16px;
    }
    .heading{
        font-size: 1.25rem;
    }
    .p1{
        font-size: 1.4rem;
    }
    .p2{
        font-size: 1.4rem;
    }
    .logo{
        width: 145px;
        height: 145px;
    }
}
@media screen and (min-width:768px) and (max-width: 1150px) {
    nav div a{
        font-size: 12px;
    }
    #portfolio{
        font-size: 10px;
    }
    .heading{
        font-size: 1.25rem;
    }
    .p1{
        font-size: 1rem;
    }
    .p2{
        font-size: 1rem;
    }
    .logo{
        width: 145px;
        height: 145px;
    }
}
@media screen and (min-width:768px){
    #greetings{
        position: relative;
    }
    p.heading{
        letter-spacing: 4.0px;
    }
    #paragraph1,#paragraph2{
        letter-spacing: 2px;
    }
    #paragraph1::after{
        content: "";
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    #card2{
        letter-spacing: 1px;
    }
    #card2::after{
        content: "";
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    .blank{
        content: "";
        position: absolute;
        background-color: #e0d9c7;
        z-index: -1;
    }
    .first-blank{
        top: -10%;
        left: 0;
        height: 102%;
        width: 100%;
    }
    .second-blank{
        height: 47%;
        width: 50%;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
        right: 0;
    }

    .main-img1{
        border: solid #efe3d7;
        border-width: 20px 30px; 
    }
    .main-img2{
        border: solid #efe3d7;
        border-width: 20px 40px; 
    }
    .navlink+.navlink::before{
        content: " ";
        position: absolute;
        left: 0;
        top: 45%;
        text-decoration: none;
        border-right: 1px solid #AB8763 ;
        height: 10%;
    }
}
/* up to laptop */
 @media screen and (max-width: 768px) {
    .heading{
        font-size: 1.25rem;
    }
    .p1{
        font-size: 1rem;
    }
    .p2{
        font-size: 1rem;
    }
    .main-img1{
        border: solid #efe3d7;
        border-width: 15px 23px; 
    }
    .main-img2{
        border: solid #efe3d7;
        border-width: 10px 20px; 
    }
    .blank{
        content: "";
        position: absolute;
        background-color: #e0d9c7;
        z-index: -1;
    }
    .first-blank{
        top: -10%;
        left: 0;
        height: 117%;
        width: 100%;
    }
    .second-blank{
        height: 28%;
        width: 75%;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
        right: 0;
    }
    .heading{
        letter-spacing: 3px;
    }
    #paragraph1, #paragraph2{
        letter-spacing: 1.5px;
    }
    .nav-close{
        opacity: 0;
        rotate: -90deg;
    }
    .nav-burger{
        position: absolute;
        transition: opacity .2s, transform 1s;
    }
    .nav-close{
        opacity: 0;
        transform: rotate(180deg);
    }

} 
/* before mobile */

@media screen and (min-width: 425px) and (max-width:768px){
    .logo{
        width: 145px;
        height: 145px;
    }

}
@media screen and (min-width: 575px) and (max-width:768px){
    #mNav{
        width: 91px;
        height: 91px;
    }
}

@media screen and (max-width:575px){
    #mNav{
        width: 68px;
        height: 68px;
    }
} 
@media screen and (max-width:425px){
    .logo{
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width:400px){
    .mNav-Logo{
        height: 80px;
        width: 80px;
    }   
}
main img.img-bordered:hover{
    border: solid;
    border-width: 0;
}
main img.img-nonbordered{
    border: solid;
    border-width: 0;
}
main img.img-nonbordered:hover{
    border: solid #efe3d7;
    border-width:  20px 10px;
}

main img.img-bordered, main img.img-nonbordered{
    transition: 0.5s;
}
#social-media a:hover{
    transform: scale(1.4);
}